.mainMenuWrapper {
    display: flex;
    height: 100vh;
}

.side {
    flex: 0 0 200px;
    background-color: #eee;
    text-align: center;
}

.side ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side ul li {
    padding: 10px 20px;
    text-align: left;
}

.stage {
    flex: 1;
}

.active {
    background-color: green;
}