h1{
    text-align: center;
}

.login {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 3px #aaa;
    border-radius: 20px;
}

.login > h3:first-child{
    margin-top: 0;
}

.login > input[type=submit]{
    margin-top: 20px;
}