h1{
    text-align: center;
}

.login {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 2px;
    background-color: rgb(85, 96, 128);
    box-shadow: 0 0 2px #222;
}

.login > h3{
    margin-left: 0;
}

.login > h3:first-child{
    margin-top: 0;
}

.login > input[type=submit]{
    margin-top: 20px;
}