@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');
body {
    margin: 0;
    font-family: Orbitron, sans-serif;
    background-color: rgb(47, 52, 70);
    color: rgb(38 184 153);
    overflow: hidden;
}

body * {
    user-select: none;
}

h1 {
    margin: 10px;
}

h2 {
    margin: 10px;
}

h3 {
    margin: 10px;
}

input {
    border: none;
    padding: 3px 8px;
    border-radius: 2px;
    font-family: Orbitron, sans-serif;
    transition: 0.2s;
    background-color: rgb(65, 74, 107);
    color: #fff;
    font-size: 1em !important;
}

input[type="submit"] {
    cursor: pointer;
    color: rgb(38 184 153);
}

input[type=range] {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    transition: 0.2s;
    overflow: hidden;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: none;
    height: 22px;
    width: 10px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
}

select {
    width: 210px;
    padding: 3px 8px;
    background-color: rgb(65, 74, 107);
    border-radius: 2px;
    border: none;
    color: #fff;
    font-family: inherit;
    transition: 0.2s;
}

textarea:focus, input:hover, select:hover {
    outline: none;
    box-shadow: none;
    background-color: rgb(38 184 153);
    color: #fff;
}

*:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.list {
    border-radius: 3px;
    background-color: #eee;
    margin: 10px;
    overflow: hidden;
}

.list>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    transition: 0.2s;
    background-color: rgb(85, 96, 128);
}

.list>div:hover {
    background-color: rgb(85, 96, 128);
}

.list>div+div {
    border-top: 2px solid rgb(47, 52, 70);
}

.list>div>input[type=text] {
    width: 200px;
    text-align: center;
}

.list>div>input[type=range], .list>div>select, .list>div>input[type=submit] {
    width: 215px;
}

.selected {
    background-color: rgb(38 184 153) !important;
    color: #fff !important;
}

.tooltipModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    backdrop-filter: blur(5px);
}

.tooltipModal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: rgb(85, 96, 128);
    border-radius: 2px;
}

.tooltipScroll {
    overflow: hidden;
    border-radius: 2px;
}

.tooltipContent {
    max-height: calc(100vh - 40px);
    max-width: calc(100vw - 40px);
    overflow: auto;
}

.tooltipClose {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 2px 6px;
    border-radius: 2px;
    background-color: #eee;
    cursor: pointer;
    transition: 0.4s;
}

.tooltipClose:hover {
    background-color: rgb(38 184 153) !important;
    color: #fff;
}